# Dependencias
node_modules/
npm-debug.log

# Variables de entorno (NO subir)
.env
.env.local
.env.production

# Base de datos local (COMENTADO para subir laboratorio_clinico.sql)
# *.sql
# *.dump

# Archivos subidos (solo ignorar PDFs médicos)
#uploads/*.pdf
# uploads/*.jpg   ← COMENTADO
# uploads/*.png   ← COMENTADO

# Editor configuraciones
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
logs/
*.log

.env
